.border-red {
    border: 1px solid #eb3730;
}

.error-message {
    margin-top: 5px;
    color: #eb3730;
}

body {
    background-color: #F0F0F0;
}

.logo-header {
    width: 390px;
    height: 106px;
    padding: 10px 20px;
}

.login-container {
    width: 390px;
    font-size: 14px;
    margin-top: 20px !important;
    background-color: #FFFFFF;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 4px 0px, rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;
    box-sizing: border-box;
    line-height: 19.6px;
    margin-bottom: 0px;
    margin-left: 229.5px;
    margin-right: 229.5px;
    margin-top: 20px;
    max-width: 390px;
}

.logo-inside {
    width: 322px;
    height: 80px;
    margin: 3px 14px !important;
}

.login-logo {
    width: 196px;
    height: 72px;
    /*margin-bottom: 8px;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 8px !important;
}

hr {
    margin-top: 0px;
}

.logo-left {
    width: 145px;
}

.logo-body {
    padding: 20px 36px;
}

.fb-button {
    background: linear-gradient(to bottom, #3b5998 0, #344e86 100%);
    border: 1px solid #344e86;
    color: #F7F7F7;
    font-weight: 700 !important;
    width: 100%;
    text-shadow: 0 -1px transparent;
    padding: 13px 22px;
    font-size: 20px !important;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    line-height: 18px;
    text-align: center;
    font: inherit;
}

.hr-divider {
    margin: 25px 0px;
    padding: auto;
    max-height: 19px;

}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.9;
}

.hr-text:before {
    content: '';
    position: absolute;
    background: lightgray;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    background-color: white;
}

.input-login {
    height: 46px;
    padding: 0px 16px;
}

.form-group-custom {
    margin-bottom: 20px;
}

.login-button {
    background: linear-gradient(to bottom, #139ff0 0, #0087e0 100%);
    border: 1px solid #0087e0;
    color: #F7F7F7;
    font-weight: 700 !important;
    width: 100%;
    text-shadow: 0 -1px transparent;
    padding: 13px 22px;
    font-size: 20px !important;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    line-height: 18px;
    text-align: center;
    font: inherit;
    margin-bottom: 20px;
}

/*login customization done*/

.hire-work {
    width: 100%;
    height: 33px;
    margin-bottom: 20px;
}

.hire, .work {
    width: 50%;
    vertical-align: center;
    display: inline-block;
}

.hire50, .work50 {
    margin: auto;
    padding: auto;
    text-align: center;
    width: 100%;
    display: inline-block;
    height: 33px;
}

.font-size-13 {
    font-size: 13px !important;
}

.font-size-14 {
    font-size: 14px !important;
}

/*sign up customizations done*/

.custom {
    height: 64px;
    background-color: #ffffff !important;
    padding: 0px;
}

.custom-below {
    height: 64px;
    background-color: #161E2B !important;
    padding: 0px;
    max-height: 51px;
    font-size: 14px !important;
}

.custom-below a {
    color: white !important;
    padding: 16px;
    margin: 10px;
}

.custom-below button {
    margin-left: 10px;
    background-color: #F27F0C;
    color: white;
    font-size: 14px !important;
    font-weight: bold;
    padding: 6px 18px !important;
}

.brand {
    margin-right: 16px;
}

.container {
    max-width: 1200px;
    padding: 0 12px;
    min-height: 64px;
    margin: 0 71.50px;
    /*overflow: hidden;*/
    clear: both;
}

.search-top {
    width: 283.42px;
    margin-left: 12px;
    margin-right: 12px;;
}

body {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

#navbarSupportedContent li {
    padding-right: 4px;
}

.dashboard {
    padding-top: 24px !important;
    clear: both;
}

.dashboard-profilepic {
    width: 96px;
    height: 96px;
    background-image: url("https://www.buira.org/assets/images/shared/default-profile.png");
    margin: 0px;
}

.profile-section {
    padding-left: 12px;
    font-size: 14px;
}

.name-section {
    padding-left: 10px;
    padding-top: 0px;
}

.small-font {
    font-size: .8125rem;
}

.name-section .butt {
    margin: 8px 0px;
    background-color: #54AE64;
    font-size: .8325rem;
    padding: 6px 16px;
}

.left {
    background-image: url(https://cdn5.f-cdn.com/build/img/membership-bids-upsell-banner/background2.png);
    max-height: 186px;
    max-width: 775px;
}

.white-text {
    color: white;
}

.card-body-div {
    height: 186px !important;
    padding: 36px !important;
    padding-left: 46px !important;
    float: left;
}

.image-card {
    float: right;
    max-height: 100%;
}

.card-left-next {
    margin-top: 24px;
}

.card-right-next {
    margin-top: 24px;
}

.transaction{
    float: left;
    max-width: 40%;
    margin: auto;
}

svg {
    width: 24px;
    height: 24px;
    margin-top: 8px;
}


.container svg{
    width: 250px;
    height: 250px;
    margin-top: 0px !important;
}

.icons {
    width: 24px;
    height: 24px;
    margin-top: 8px;
}

.side-bar-image {
    height: 200px;
    width: 300px;
}

.side-bar-inside-image {
    width: 96px;
    height: 96px;
    background-image: url("https://www.buira.org/assets/images/shared/default-profile.png");
    margin-left: 90px;
    margin-top: 30px;
}

.border-down {
    /*border-bottom: 4px solid deepskyblue;*/
    /*background: #56c7ff;*/
    /*display: block;*/
    /*width: 4px;*/
    /*height: 100px;*/
    /*opacity: 1;*/

    box-shadow: inset 0 -4px 0 #56c7ff;
    /*box-shadow: 0 8px 8px -8px #56c7ff;*/
}

.display-none {
    display: none !important;
}

.loading {
    height: 40px;
}

.strong-weight {
    font-weight: 500;
}

/*profile*/

.profile-body {
    margin-top: -250px;
}

.profile-body-left {
    width: 75%;
    max-width: 75%;
    float: left;
    height: 485px;
    max-height: 485px;
}

.profile-body-right {
    width: 25%;
    max-width: 25%;
    float: left;
    height: 485px;
    max-height: 485px;
}

.background-image {
    background-image: url('pd.jpg');
    background-color: #00B7FF;
    background-position: 0 -100px;
    height: 400px;
}

.profile-profilepic {
    max-width: 100%;
    width: auto;
    height: 268px;
    border: 10px solid white;
    outline: 1px solid lightgray;
    margin-top: -20px;
}

.profile-div-propic {
    height: 268px;
    width: 268px;
    padding: auto;
}

.inside {
    margin-left: 1px;
}

.edit-profile-button {
    background: linear-gradient(to bottom, #139ff0 0, #0087e0 100%);
    border: 1px solid #0087e0;
    color: #F7F7F7;
    font-weight: 700 !important;
    width: 100%;
    text-shadow: 0 -1px transparent;
    padding: 13px 22px;
    font-size: 20px !important;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    line-height: 18px;
    text-align: center;
    font: inherit;
    margin-top: 20px;
}

.profile-body-under {
    clear: both;
    border-top: 50px solid transparent;
}

.profile-body-card {
    margin-top: 20px;
}

.edit-profile {
    margin-top: 40px;
    width: 80%;
    margin-left: 40px;
}

.save-profile {
    background: linear-gradient(to bottom, #139ff0 0, #0087e0 100%);
    border: 1px solid #0087e0;
    color: #F7F7F7;
    font-weight: 500 !important;
    width: 30%;
    text-shadow: 0 -1px transparent;
    padding: 5px 10px;
    font-size: 16px !important;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    font: inherit;
    margin-top: 10px;
}

.full-body {
    width: 100%;
    background-color: white;
}

.container-post-project {
    width: 790px;
    margin: auto;
    padding: 10px;
}

.logo-left-post {
    width: 170px;
    margin-top: 40px;
    margin-left: 280px;
    margin-bottom: 60px;
}

.post-project-button {
    background-color: #F27F0C;
    color: white;
    font-weight: 600;

    border: 1px solid #F27F0C;
    color: #F7F7F7;
    font-weight: 700 !important;
    text-shadow: 0 -1px transparent;
    padding: 11px 30px;
    font-size: 20px !important;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    line-height: 18px;
    text-align: center;
    font: inherit;
    margin-bottom: 20px;
}

.dropzone-files {
    height: 65px;
    border: 1px dashed lightgray;
    border-radius: 3px;
}

.dropzone-button {
    float: left;
    margin: 10px 20px;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    width: 160px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.8;
}

.dropzone-button :hover {
    cursor: pointer;
}

.text-dropzone {
    margin-right: 30px;
    margin-top: 10px;
    float: right;
}

.text-dropzone-inside {
    float: left;
    width: 560px;
    padding: 6px;
    font-size: 14px;
    opacity: 0.8;
}

.text-align-left {
    float: left;
}

.text-align-right {
    float: right !important;
}

.jobs {
    border-radius: 3px;
}

.jobs hr {
    color: #000;
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: lightgray;
    height: 1px;

}

.background-dark {
    background-color: black;
    opacity: 0.7;
    color: white;
}

.title-single-project {
    background-color: white !important;
}

.inside-details {
    border-right: 1px solid lightgray;
}

.clear-left {
    clear: left;
}

.bid-now-single {
    background-color: #3E93CD;
    border: 1px solid #3E93CD;
    color: #F7F7F7;
    font-weight: 500 !important;
    width: 70%;
    margin-top: 20px;
    text-shadow: 0 -1px transparent;
    padding: 10px 10px;
    font-size: 20px !important;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    line-height: 18px;
    text-align: center;
    font: inherit;
}

.custom-input-append {
    width: 180px;
    height: 30px;
    border-radius: 3px;
}

.custom-input {
    height: 30px;
    width: 80px;
}

.image-bid {
    max-height: 100px;
    max-width: 100px;
    border: 3px solid white;
    outline: 1px solid lightgray;
    margin-bottom: 10px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 2px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.file-button {
    padding: 16px;
    margin-bottom: 10px;
}

.image-background-not-found {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('http://www.wallpaperbetter.com/wallpaper/1018/349/288/outer-space-milky-way-1080P-wallpaper.jpg') no-repeat center/cover;
    content: "";
    margin-top: 64px;
    max-height: 728px;
}

.FourOhFour-unicorn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 240px;
    margin: 0 auto;
    -webkit-animation: bounceinfinity 5s infinite;
    animation: bounceinfinity 5s infinite;
    position: relative;
    height: 500px;
    width: 588px;
    float: right;
}

.max-width-50 {
    max-width: 50%;
}


.max-width-20 {
    /*width: 31%;*/
    max-width: 23%;
    min-width: 23%;
    /*margin: auto;*/
    float: left;
}


.max-width-40 {
    /*width: 31%;*/
    max-width: 40%;
    min-width: 40%;
    /*margin: auto;*/
    float: left;
}


.max-width-30 {
    /*width: 31%;*/
    max-width: 31%;
    min-width: 25%;
    /*margin: auto;*/
    float: left;
}

.opacity-less {
    opacity: 0.8;
}

.first_new {
    position: relative;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .08), 0 2px 4px 0 rgba(0, 0, 0, .12);
    background: #fff;
    min-height: 64px;
    max-height: 64px;
    z-index: 1020;
    max-width: 100% !important;
}

.second_new {
    float: right;
    margin-right: 80px;
    font-family: Roboto, "Helvetica";
    vertical-align: middle;
    margin-left: 670px;
}

.second_new li {
    margin: auto;
}

.second_new li a {
    font-size: 16px;
    padding-right: 30px;
}

.auto {
    margin-top: 12px !important;
}

.second_new li button {
    margin-top: 6px;
    border-radius: 3px;
    background: linear-gradient(to bottom, #fc8c14 0, #f77d0e 100%);
    border: 1px solid #f77d0e;
    color: #F7F7F7;
    font-weight: 700;
    text-shadow: 0 -1px transparent;
    height: 35px;
}

.image1 {
    width: 1343px;
}

.imagefooter {
    width: 1343px;
    margin-top: 300px;
}

.extra {
    margin-top: 10px;
    margin-left: 80px;
}

.Newa {
    color: white;
    padding: 10px;
    margin-right: 0px;
}

.total {
    max-width: 1343px !important;
}

.extra-pagination a {
    background-color: #cccccc;
    color: black;
}

.extra-pagination button {
    background-color: #cccccc;
    color: black;
    border: 1px solid gray;
}

.extra-search{
    height: 60px;
}

.container-search-project{
    width : 950px;
}

.background-blue{
    background-color: #3b5998;
}

.container-single-project {
    width: 900px;
    margin: auto;
    padding: 10px;
}

.redux-payment-form{
    width: 600px;
    margin: auto;
    padding: 30px;
}